*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    outline:none;
}

html, body {
    min-height: 100% !important;
    height: 100%;
    padding-top:5px;
}

button{
    cursor: pointer;
}

.main-content{
    margin:0 auto;
    width: 50%;
    height: 100%;
    background-color: #678d74;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
}

.header{
    width:50%;
    margin:0 auto;
    background-color:#FCF8E8;
    padding: 10px;
    border-radius: 10px;
}

.header p{
    text-align: center;
    color:#678d74;
    font-weight: bolder;
    font-size: 30px;
}

form{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 5px;
    gap:10px;
    align-items: center;
}

form input[type="text"]{
    width:100%;
    border:none;
    border-radius: 15px;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    background-color: #FCF8E8;
    color:#678d74;
    text-transform: uppercase;
}

form input[type="submit"]{
    cursor: pointer;
    padding: 5px;
    border: none;
    border-radius: 10px;
    color:#FCF8E8;
    background-color:green;
    font-size: 23px;
    font-weight: bold;
}

.items{
    width:70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: #FCF8E8;
    color:#678d74;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 20px;
    flex-wrap: wrap;
}

.items button{
    color:#FCF8E8;
    background-color: red;
    font-size: 20px;
    padding:5px;
    border:none;
    border-radius: 10px;
}

/* RESPONSIVE */

@media  screen and (max-width:1366px) {
    .main-content{  
        width: 80%;
    }

    .header{
        width:60%;
    }
    .header p{
        font-size: 35px;
    }
}

@media  screen and (max-width: 850px) {
    .main-content{
        width:95%;
    }

    .items{
        width: 80%;
    }

    form{
        width:70%;
    }

    .header{
        width:80%;
    }
}

@media screen and (max-width:600px){
    .header p{
        font-size: 30px;
    }
}


@media screen and (max-width:500px){
    .header{
        width:100%;
        padding: 0;
    }

    .header p{
        font-size:25px;
    }

    form{
        width: 100%;
        padding:0;
    }

    form input[type="text"]{
        font-size: 20px;
        border-radius: 5px;
        
    }

    form input[type="submit"]{
        font-size: 18px;
        border-radius: 5px;
    }

    .items{
        padding: 2px;
        width:100%;
        font-size: 15px;
        border-radius: 5px;
    }

    .items button{
        font-size: 15px;
        padding:3px;
        border-radius: 5px;
    }

    .main-content{
        border-radius: 5px;
        padding:5px;
    }
}